@model BookProject1.Models.Book

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearPublished)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearPublished)
        </dd>
        <dt class="col-sm-2">
        <a>Rating:</a>
        </dt>
        <dd class="col-sm-10">
            @{
                int sumOfRatings = 0;
                foreach (var item in Model.Reviews)
                {
                    sumOfRatings += item.Rating;
                }
                int averageRating = 0;
                if (Model.Reviews.Count > 0){
                    averageRating = sumOfRatings / Model.Reviews.Count;
                }
                for(int i = 0;i < averageRating; i++){
                    <span class="fa fa-star checked"></span>
                }
        <br />
        }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumPages)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumPages)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookGenres)
        </dt>
        <dd class="col-sm-10">
            @foreach (var genre in Model.BookGenres)
            {
                <a>
                    @genre.Genre.GenreName
                </a> <br />
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Publisher)
        </dd>
        @if (User.Identity.IsAuthenticated){
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DownloadUrl)
        </dt>
        <dd class = "col-sm-10">
            <a href="@Html.DisplayFor(model => model.DownloadUrl)">Download</a>
        </dd>
        }
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author.FullName)
        </dd>
        <h4 class="mt-5">Reviews</h4>
        <hr />
        @if (Model.Reviews != null && Model.Reviews.Count > 0)
        {
            <div class="list-group">
                @foreach (var review in Model.Reviews)
                {
                    <div class="list-group-item">
                        <h5 class="mb-1">@review.AppUser</h5>
                        <p class="mb-1">@review.Comment</p>
                        <small>Rating: @review.Rating</small>
                    </div>
                }
            </div>

        }
        else
        {
            <p>No reviews yet.</p>
        }
    </dl>
</div>
<div class="btn-group-vertical">
    <td>
    </td>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <a class="btn btn-info btn-sm" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    }|
    <a class="btn btn-secondary btn-sm" asp-action="Index">Back to List</a>
</div>

<style>
    .checked {
        color: orange;
    }</style>
        
